<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="plugin.cxhub_sdk">
    <application>
        <service
                android:name="cxhub.api.CxHubFirebaseMessagingService"
                tools:replace="android:exported,android:enabled"
                android:exported="true"
                android:enabled="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>
</manifest>
